<div class="top-container">
  <div class="top-container-title">
      <h1>ScheduleApp</h1>
  </div>
  <% if logged_in? %>
    <h3><%= link_to "Create My Schedule", "/users/#{session[:user_id]}" %></h3>
  <% end %>
  <div class="top-container-buttons">
    <div class="btn-toolbar center-block">
    <% if !@current_user %>
        <p>Registration Your Schedule</p>
        <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-info" %>
        <%= link_to "ログイン", login_path, class: "btn btn-lg btn-success" %>
        <div>ログイン用ID: test@test.com  </div>
        <div>ログイン用PASS: test  </div>
    <% end %>
    </div>
  </div>
</div>
